body {
    background-image: url('amphitheater.jpg');
    background-size: 100%;
    background-color: red;


}
#title {
    text-align: center;
    font-family: "Lucida Console", sans-serif;
    font-size: 50px;
    letter-spacing: 7px;
    color: gray;
}

