body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('../static/images/light.jpg');
  font-family: "Avantgarde", sans-serif;
}


.hero {
    text-align: center;
    margin: 10em auto 4em auto;
}

.hero-titles {
    padding: 0 2em;
}

.hero h1 {
    font-size: 4em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color:#008080;
}

.hero h2 {
    text-align: center;
    font-weight: 200;
    color: #4169E1;
    padding: 0;
    margin-top: 0;
    margin: 0.02em 0 0.8em;
}

li {
    font-size: 1.1em; 
}

li:hover {
    font-size: 125%;
    color: #000080; 
}

text-area {
    width: auto; 
    height: 300px; 
    overflow:hidden; 
}