<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Loading Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.css" rel="stylesheet">
    <link href="../static/css/demo.css" rel="stylesheet">
   

  </head>
  
  <body>
  
    <h1>Document Error</h1>
    <script>alert("There is a document with this name already")</script> <!--put in link to upload pg-->
  </body>

</html>

