{% extends "layout.html" %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>School Share</h1>
			<h2>An innovative way to stay connected without being distracted</h2>
			<p>
				Share study guides, notes, and tips amongst your fellow classmates. Find your schools and classes, or access other schools for new experiences! Stay informed and connected with the convenience of Facebook groups but without other distracting features. With SchoolShare, you can stay focused on your work without missing anything.
			</p>
		</div>
	</div>

	{% if not utils.logged_in() %}
		<div id="register-modal" class="modal fade" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Register</h4>
					</div>
					<div class="modal-body">
						<p>
							Welcome to SchoolShare!
							<br>
							<br>Making an account with SchoolShare will open up a variety of new opportunities and ways to explore. Submit your own study guides to help others and subscribe to the classes you're taking right now to always stay updated! Simple fill out the form below to be on your way to an easier way of studying.
						</p>
						<form role="form" action="/register" method="post">
							<div class="form-group">
								<input class="form-control" name="first" type="text" placeholder="First Name" required>
							</div>
							<div class="form-group">
								<input class="form-control" name="last" type="text" placeholder="Last Name" required>
							</div>
							<div class="form-group">
								<input class="form-control" name="username" type="text" placeholder="Username" required>
							</div>
							<div class="form-group">
								<input class="form-control" name="password" type="password" placeholder="Password" required>
							</div>
							<div class="form-group">
								<input class="form-control" name="email" type="text" placeholder="Email" required>
							</div>
							<button class="btn btn-default" type="submit">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="login-modal" class="modal fade" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<p>
							Welcome back to SchoolShare!
							<br>
							<br>Enter your username and password below to login.
						</p>
						<form role="form" action="/login" method="post">
							<div class="form-group">
								<input class="form-control" name="username" type="text" placeholder="Username" required>
							</div>
							<div class="form-group">
								<input class="form-control" name="password" type="password" placeholder="Password" required>
							</div>
							<button class="btn btn-default" type="submit">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
