<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Loading Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.css" rel="stylesheet">
    <link href="../static/css/demo.css" rel="stylesheet">

   </head>

  <body>
    <div class="row demo-row">
      <div class="col-xs-9">
	<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01"> 
	      <span class="sr-only">Toggle navigation </span>
	    </button>
	   </div>
	 <div class="collapse navbar-collapse" id="navbar-collapse-01">
	   <ul class="nav navbar-nav navbar-left">
	     <li><a href="/home"> School Share <span class="navbar-unread">1</span> </a></li>

	     <li class="dropdown">
	       <a href="/classes" class="dropdown-toggle" data-toggle="dropdown"> Classes <b class="caret"> </b> </a>
	       <span class="dropdown-arrow"></span>
	       <ul class="dropdown-menu">
		 <li> <a href"#"> Classes Go Here </a> </li>
	       </ul>
	      </li>

	     
		 
