<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Loading Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.css" rel="stylesheet">
    <link href="../static/css/demo.css" rel="stylesheet">
    <script src="../static/js/jquery-2.0.3.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
   </head>

  <body>
       <div class="row demo-row">
      <!--Navbar-->
      <nav class="navbar navbar-inverse" role="navigation">
      	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
      			<span class="sr-only"> Toggle navigation</span>
      		</button>
      		<a class="navbar-brand" href="/"> SchoolShare</a> 
      	</div>
      	<div class="collapse navbar-collapse">

      		<ul class="nav navbar-nav">
      			<li class="dropdown">
      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:22">
      					Class
      					<b class="caret"></b>
      				</a>
      				<span class="drowndown-arrow"></span>
      				<ul class="dropdown-menu">
      					<li>
      						<a href="#">something</a>
      					</li>
      					<li>
      						<a href="#">something</a>
      					</li>
      					<li>
      						<a href="#">something</a>
      					</li>
      				</ul>
      			</li>	
      			<li>
      				<a hre" style="font-size:18";>Profile</a>

      			</li>
      		</ul>
      		<div class="nav navbar-nav" style="float:right; margin-right:10px; margin-top: 4px;">
      				<div>
      				<a href="#" class="btn btn-block btn-lg btn-info">Logout </a>
      				</div>
      		</div>
      	</div>
      </nav>


      </nav>
  </body>
<script>

</script>
